h1{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(251, 0, 255);
}

h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(102, 102, 255);
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(153, 51, 255);
}

h4{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(49, 0, 86); 
}

.bouton{
    display: inline-block;
    background-color: #ff0095;
    border-radius: 10px;
    border: 1px double #3e3e3e;
    color: #ffffff;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
    width: 130px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 6px 6px 0px rgba(255, 0, 234, 0.311) ;
}

.header{
  width: 50%;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

body{
    background-image:url(../images/background.png);
    background-size:cover ;
    background-repeat: no-repeat;
    position: relative;
}

.horaires{
    border-width: 0.1em;
    border-color: #0d0096;
    border: 1px solid #2600ff;
    background-color:#c5eff1 ;
    font-size: 1.1em;
    opacity: 0.75;
    width: 100%;
    text-align: center;
    margin-left: 2px;
}

.centre{
    text-align: center;
}
/*permet de centrer des éléments de texte*/

footer{
    background-color: rgb(36, 4, 47);
    color: #ffffff;
    text-align: center;
    height: 20px;
    position: fixed;
    width: 100%;
    bottom: 0%;
    left: 0;
    right: 0;
    padding-bottom: 2%;
}
.accueil{
    border: 0;
    border-color: white;
    background-color:white ;
    font-size: 1.1em;
    opacity: 0.60;
    margin: auto;
    text-align: center;
    box-shadow: 6px 6px 0px rgba(255, 0, 234, 0.311);
}
/*Utilisé pour la page d'accueil*/

section{
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    background-color: rgb(147, 18, 194);
    font-size: 140%;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 65%;
        text-align: center;
        margin: auto;
}

.spé{
    border: 0;
    text-align: center;
    border-color: white;
    background-color:white ;
    position: fixed;
    color: #ff00bf;
    font-size: 1.1em;
    margin-left: 40%;
    margin-right: 50%;
    border-radius: 5px;
    padding-right: 30px;
    padding: 5px 30px 5px 0px;
    box-shadow: 6px 6px 0px rgba(195, 0, 255, 0.491);
    overflow: scroll;
}

::placeholder{
    color: darkblue;
}

#gris::placeholder{
    color: rgb(77, 77, 77);
  }
  /*utilisé pour le placeholder du textarea (concernant la page formulaire.html*/

@font-face {
	font-family: 'Roboto';
	src: url(‘/fonts/Roboto-Regular.woff2’) format(‘woff2’),
		url(‘/fonts/Robot-Regular.ttf’) format(‘truetype’)
        /*utilisé pour importer des polices*/
}
label{
    /* color: rgb(31, 31, 31); */
        color: rgb(255, 255, 255); 
    font-family: 'Roboto', sans-serif;
}

.rose{
    background-color: rgb(255, 179, 250);
    border: 1px dotted grey;
    }
    /*utilisé pour les cadres inputs pour les pages formulaire et priserdv*/



/*ERREURS :*/
.error {
	color: #f48ca2;
}